@supports (grid-area:auto){

.site{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 300px 100px 100px;
  grid-template-areas:;
  margin: 0;
}

.flex{
  display: flex;
}

@font-face {
  font-family: OpenSans;
  src: url('../fonts/OpenSans-Regular.ttf');
}

@font-face {
  font-family: HindBold;
  src: url('../fonts/Hind-Bold.ttf');
}

/* Slide 1 ----------------------------------------------*/
.welcome-title{
  grid-column: 5/9;
  font-family: HindBold;
  color: #5b5c56;
  flex-direction:column;
  text-align:right;
  padding-right: 10%;
}

.welcome-title h3{
  font-family: OpenSans;
}

.welcome-title h1, h2{
  margin: 0px;
  line-height: 50px;
}

.welcome-title h2{
  margin-top: 20px;
}

.welcome-title h1{
  font-size: 63px;
}

#slide1{
  background-image: url("../img/slider1-background.png");
  background-size: cover;
  height: 500px;
  width:100%;
  background-position: center;
}

#car{
  width: 400px;
  height: auto;
  position: absolute;
  top: 300px;
}

/* Slide 1 ----------------------------------------------*/
#slide2{
  background-image: url("../img/slide2-background.png");
  background-size: cover;
  height: 500px;
  width:100%;
}

#lidar-graphic, #radar-graphic, #image-graphic, #ultrasonic-graphic{
  display: none;
  overflow: hidden;
  width: 200px;
  height: auto;
  position: absolute;
  top: 25%;
  width: 500px;
  height: auto;
  grid-column: 1/5;
}

#car-sensor{
  width: 500px;
  height: auto;
  position: absolute;
  top: 25%;
}

.sensors{
  grid-column: 1/5;
}
.sensor-text{
  height: 300px;
  width: 300px;
  background-color: blue;
  display: none;
}

.sensor-title{
  grid-column: 7/9;
  font-family: HindBold;
  color: #5b5c56;
  text-align: right;
  padding-right: 10%;
  grid-row: span 3;
  background-color: rgba(244, 221, 55, 0.6);
}

ul{
  list-style-type: none;
}
li{
  font-family: OpenSans;
  color: #5b5c56;
  font-size: 20px;
  line-height: 2em;
}

.modal-wrapper{
  grid-column: 5/7;
  grid-row: span 3;
}

.modal{
  padding: 15px;
  display: none;
  color: white;
}

#modal-ld{
  background-color: rgba(138, 223, 237, 0.6);
}

#modal-rd{
  background-color: rgba(137, 144, 239, 0.6);
}

#modal-im{
  background-color: rgba(211, 136, 242, 0.6);
}

#modal-us{
  background-color: rgba(244, 135, 177, 0.6);
}

#modal-cl{
  background-color: rgba(244, 135, 177, 0.6);
}


.tooltipster-sidetip.tooltipster-noir.tooltipster-noir-customized .tooltipster-box {
	background: grey;
	border: 3px solid red;
	border-radius: 6px;
	box-shadow: 5px 5px 2px 0 rgba(0,0,0,0.4);
  max-height: 300px;
  width: 300px;

}

.tooltipster-sidetip.tooltipster-noir.tooltipster-noir-customized .tooltipster-content {
	color: blue;
	padding: 8px;
}

/* Slide 3 ----------------------------------------------*/
#car-3{
  width: 300px;
  height: auto;
  position: absolute;
  top: 300px;
}

#field {
    position: relative;
    height: 500px;
    width: 100%;
    background-image: url("../img/slide2-background.png");
    background-size: cover;
  }
  #ball, #ball2 {
    position: absolute;
    left: 0;
    bottom: 50%;
    border-radius: 0.5em;
  }
  #ball {
    background-image: url("../img/sensor-car.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 200px;
    height: 300px;
   }

  #ball2 {
    background: blue; display: none;
  }

#grid-3{
  position: absolute;
  top: 0;
  left: 0;
}
#ob-1{
  position: absolute;
  top: 30%;
  left: 25%;
  overflow: hidden;
}

/* Slide 4 ----------------------------------------------*/

#slide4{
  background-image: url("../img/slide3-background.jpeg");
  background-size: contain;
  height: 500px;
  width:100%;
  position: relative;
}

#ob-2{
  position: absolute;
  top: 30%;
  left: 50%;
  overflow: hidden;
}
#ob-3{
  position: absolute;
  top: 30%;
  left: 75%;
  overflow: hidden;
}


/* Slick Slider */
.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}

}
